<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Drowsy World</a></h1>
        </div>

        <div>
            <p>published: 17.08.2015, 12:14</p>
            <h2><a href="">Chandrahas</a></h2>
            <p>Too lazy to post</p>
        </div>

        <div>
            <p>published: 17.08.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Goood to go ahead !!!!!!</p>
        </div>
    </body>
</html>